
<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body text-center">
            <h1 class="mb-3">
                <img src="/assets/secure-icon.png" alt="icon" width="20%" />
            </h1>
            <h2>
                Generate API Key
            </h2>
            <button class="form-control" id="keygen">Generate API Key</button>
            <input class="form-control" id="apikey" type="text" value="" placeholder="Click on the button to generate a new API key ..."  />
        </div>
    </div>
</div>


<script>
    document.getElementById('keygen').addEventListener('click', function() {
        fetch('/generate/getapi', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            }
        })
        .then(response => response.json())
        .then(data => {
            document.getElementById('apikey').value = data.uuid;
        })
        .catch((error) => {
            console.error('Error:', error);
        });
    });
</script>
